<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="ordonnance">
            <h2><span>Ordonnance</span> {{ ordonnance.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Numero</span></dt>
                <dd>
                    <span>{{ ordonnance.numero }}</span>
                </dd>
                <dt><span>Medicament</span></dt>
                <dd>
                    <span>{{ ordonnance.medicament }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/ordonnance', ordonnance.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
